@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--fontPrincipal);

}

:root {
    --fontPrincipal: "Montserrat", sans-serif;
    --colorPrimary: #30D158;
    --colorSecundary: #FF453A;
    --backgroundBody: #F2F2F7;
    --backgorundSection: #FFFFFF;
}

body {
    background-color: var(--backgroundBody);
}

main {
    margin: 0 auto;
    max-width: 1440px;
    width: 70%;
    /* padding shorthand atalho top botton left right */
    padding: 30px 0;
}

section {
    background-color: var(--backgorundSection);
    border-radius: 8px;
    box-shadow: 10px 10px 15px #00000025;
    padding: 25px;
    margin: 30px 0;
}

form {
    height: 300px;
    margin: 30px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.campo-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 56px;
    font-weight: bold;
}

input {
    height: 30px;
    border-radius: 6px;
    /* Borda dos inputs */
    border: 1px solid #6d6d6d;

    font-weight: medium;
    text-indent: 8px;

}

/* Estilizar o input placeholder com pseudoelemento */
input::placeholder {
    color: #3c3c43;
}

/* Estilizar o type number de um input */
input[type="number"] {
    -moz-appearance: textfield;
    appearance: textfield;
}

/* Remover as setinha de cima e baixo do type number dos inputs */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {

    -webkit-appearance: none;
    margin: 0;
}

button {
    height: 30px;
    width: 200px;
    margin-right: 30px;
    border: none;
    border-radius: 6px;
    font-weight: medium;
}

button:hover {
    cursor: pointer;
}

/* Estilizar o button com atributo do submit */
button[type="submit"] {
    background-color: var(--colorPrimary);
    color: var(--backgorundSection);
}

button[type="submit"]:hover {
    background-color: #34c759;
}


/* Estilizar a tabela que ira receber o cadastro */
table {
    width: 100%;
    margin: 30px 0;
    border: none;
    /* remover os espaçõs das bordas do cadastro */
    /* Tira a linha entre as colunas da tabela */
    border-collapse: collapse;

}

caption {
    font-size: 20px;
}

/* A virgula pega duas classes ou mais */
caption,
th {
    text-align: left;
}

/* As linhas impares receberam cores diferentes */
/* odd é linhas impares */
/* even é linhas pares */
tbody>tr:nth-child(odd) {
    background-color: #f2f2f7;
}

tr {
    height: 40px;
}

th,
tr,
td {
    border: none;
}

caption,
th,
td {
    padding: 15px;
}

.botao-tabela {
    background-color: var(--colorSecundary);
    color: white;
}

.botao-tabela:hover {
    background-color: #be4741;
}